{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div>
        {% for message in app.flashes('success') %}
            <div>{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div>{{ message }}</div>
        {% endfor %}
    </div>

    {% if cart and cart.items is not empty %}
        <div>
            <a href="{{ path('app_cart_clear') }}">Vider le panier</a>
        </div>
        <div>
            {% for item in cart.items %}
                {% if item.productImage %}
                    <img src="{{ asset('images/' ~ item.productImage) }}" alt="{{ item.productImageAlt }}">
                {% endif %}
                <div>{{ item.productName }}</div>
                <div>Quantité : {{ item.quantity }}</div>
                <div>Prix unitaire : {{ item.unitPrice }}€</div>
                <div>Total : {{ item.totalPrice }}€</div>
            {% endfor %}

            <div>Total panier : {{ cart.totalPrice }}€</div>
        </div>
        <div>
            <a href="{{ path('app_cart_validate') }}">Valider la commande</a>
        </div>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}
{% endblock %}
