{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <img src="{{ asset('images/products/' ~ product.picture) }}" alt="{{ product.name }}" />
    <div>{{ product.name }}</div>
    <div>{{ product.price }}</div>
    <div>{{ product.fullDescription }}</div>
    {% if form %}
        {{ form_start(form) }}
            {{ form_row(form.quantity) }}
                <button type="submit">
                    {{ isInCart ? 'Mettre à jour' : 'Ajouter au panier' }}
                </button>
            {{ form_end(form) }}
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter pour commander</a>
    {% endif %}
</div>
{% endblock %}
