{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - GreenGoodies{% endblock %}

{% block body %}
<section class="single-product-section">
    <div class="single-product-image">
        {% if product.mainImage %}
            <img src="{{ asset('images/' ~ product.mainImage.link) }}" alt="{{ product.mainImage.alt }}">
        {% endif %}
    </div>
    <div class="single-product-card">
        <h2 class="single-product-name">{{ product.name }}</h2>
        <p class="single-product-price">{{ product.price }}€</p>
        <h3>Description</h3>
        <p class="single-product-description">{{ product.fullDescription }}</p>
        <div class="single-product-cart">
            {% if form %}
                {{ form_start(form) }}
                {{ form_row(form.quantity) }}
                <button type="submit" class="btn">
                    {{ isInCart ? 'Mettre à jour' : 'Ajouter au panier' }}
                </button>
                {{ form_end(form) }}
            {% else %}
                <a href="{{ path('app_login') }}" class="btn">Se connecter pour commander</a>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}
